# Login to Azure Container Registry using OpenID Connect (OIDC), then build and push Docker image.

on:
  workflow_call:
    inputs:
      environment:
        description: The name of the GitHub environment that this job references.
        type: string
        required: false

      working_directory:
        description: The path of the working directory containing the Dockerfile to build an image from.
        type: string
        default: "."
        required: false

      registry_name:
        description: The name of the Azure Container Registry to push the Docker image to.
        type: string
        required: true

      repository:
        description: The repository in the Azure Container Registry to push the Docker image to.
        type: string
        required: true

      tag:
        description: A tag for the image.
        type: string
        required: false
        default: ${{ github.run_number }}

    secrets:
      AZURE_CLIENT_ID:
        description: The client ID of the Azure AD service principal to use for authenticating to Azure.
        required: true

      AZURE_SUBSCRIPTION_ID:
        description: The ID of the Azure subscription containing the Container Registry.
        required: true

      AZURE_TENANT_ID:
        description: The ID of the Azure tenant containing the Container Registry.
        required: true

    outputs:
      image:
        description: The Docker image that was built.
        value: ${{ jobs.build.outputs.image }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    # Set permissions required to login to Azure using OIDC.
    permissions:
      id-token: write
      contents: read

    env:
      IMAGE: ${{ inputs.registry_name }}.azurecr.io/${{ inputs.repository }}:${{ inputs.tag }}
      IMAGE_LATEST: ${{ inputs.registry_name }}.azurecr.io/${{ inputs.repository }}:latest

    outputs:
      image: ${{ env.IMAGE }}
      image_latest: ${{ env.IMAGE_LATEST }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}

      - name: Login to ACR
        env:
          REGISTRY_NAME: ${{ inputs.registry_name }}
        run: az acr login --name "$REGISTRY_NAME"

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ${{ inputs.working_directory }}
          tags: ${{ env.IMAGE }},${{ env.IMAGE_LATEST }}
          push: true
