# Build and push a Docker image to an Azure Container Registry.

on:
  workflow_call:
    inputs:
      working_directory:
        description: The working directory to run the Docker commands in.
        required: true
        type: string

      acr_repository:
        description: The Azure Container Registry repository to push the Docker image to.
        required: true
        type: string

    secrets:
      acr_login_server:
        description: The Azure Container Registry login server.
        required: true

      acr_admin_username:
        description: The Azure Container Registry admin username.
        required: true

      acr_admin_password:
        description: The Azure Container Registry admin password.
        required: true

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}

    env:
      TAG_UNIQUE: ${{ secrets.acr_login_server }}/${{ inputs.acr_repository }}:${{ github.run_number }}
      TAG_LATEST: ${{ secrets.acr_login_server }}/${{ inputs.acr_repository }}:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker Build
        run: docker build . -t ${{ env.TAG_UNIQUE }} -t ${{ env.TAG_LATEST }}

      - name: Docker Login
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.acr_login_server }}
          username: ${{ secrets.acr_admin_username }}
          password: ${{ secrets.acr_admin_password }}

      - name: Docker Push
        run: |
          docker push ${{ env.TAG_UNIQUE }}
          docker push ${{ env.TAG_LATEST }}
