# Create a GitHub release on branch 'main' using semantic-release with the Conventional Commits preset.
#
# References:
# - semantic-release: https://semantic-release.gitbook.io/semantic-release/
# - Conventional Commits: https://www.conventionalcommits.org/en/v1.0.0/

name: Release

on:
  push:
    branches:
      - main
  workflow_call:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install conventional-changelog-conventionalcommits
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release --branches main --plugins '@semantic-release/commit-analyzer, @semantic-release/release-notes-generator, @semantic-release/github' --preset conventionalcommits
