# Fully automated release using semantic-release.
# By default, creates a GitHub release on branch "main" using the conventionalcommits preset.

on:
  workflow_call:
    inputs:
      branches:
        description: A newline-separated string of branches to release on.
        type: string
        required: false
        default: main

      preset:
        description: Which preset to use for semantic-release.
        type: string
        required: false
        default: conventionalcommits

      plugins:
        description: A newline-separated string of default plugins to use.
        type: string
        required: false
        default: |
          @semantic-release/commit-analyzer
          @semantic-release/release-notes-generator
          @semantic-release/github

      additional_plugins:
        description: A newline-separated string of additional plugins to install.
        type: string
        required: false
        default: conventional-changelog-conventionalcommits

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install additional plugins
        env:
          ADDITIONAL_PLUGINS: ${{ inputs.additional_plugins }}
        run: |
          while read -r p
          do
            npm install "$p"
          done <<< "$ADDITIONAL_PLUGINS"

      - name: Release
        env:
          BRANCHES: ${{ inputs.branches }}
          PLUGINS: ${{ inputs.plugins }}
          PRESET: ${{ inputs.preset }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Set Internal Field Separator (IFS) to read arrays from newline-separated strings
          IFS=$'\n'
          readarray -t branches <<< "$BRANCHES"
          readarray -t plugins <<< "$PLUGINS"
          npx semantic-release --branches "${branches[@]}" --plugins "${plugins[@]}" --preset "$PRESET"
