# Install Terraform, configure Azure credentials, create a Terraform plan, and apply the plan on push to branch 'main'.
#
# Create a branch protection rule for branch 'main':
# - Require a pull request before merging
#    - Require approvals
#    - Dismiss stale pull request approvals when new commits are pushed
# - Require status checks to pass before merging
#    - Require branches to be up to date before merging
# - Include administrators

on:
  workflow_call:
    inputs:
      environment:
        description: The environment that the job references.
        required: true
        type: string

      working_directory:
        description: The working directory of where to run the Terraform CLI commands.
        type: string
        default: '.'
        required: false

      arm_client_id:
        description: The client ID of the Azure Service Principal used for authenticating to Azure.
        required: true
        type: string

      arm_tenant_id:
        description: The tenant ID of the Azure Service Principal used for authenticating to Azure.
        required: true
        type: string

      arm_subscription_id:
        description: The ID of the Azure Subscription to provision the Azure resources for.
        required: true
        type: string

      terraform_version:
        description: The version of the Terraform CLI to install.
        required: false
        type: string
        default: latest

    secrets:
      arm_client_secret:
        description: The client secret of the Azure Service Principal used for authenticating to Azure.
        required: true

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.working_directory }}

    env:
      ARM_CLIENT_ID: ${{ inputs.arm_client_id }}
      ARM_CLIENT_SECRET: ${{ secrets.arm_client_secret }}
      ARM_TENANT_ID: ${{ inputs.arm_tenant_id }}
      ARM_SUBSCRIPTION_ID: ${{ inputs.arm_subscription_id }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ inputs.terraform_version }}

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve
